@import '../forgot-password/forgot-password.css';

.input-icon {
  position: absolute;
  left: 1rem;
  pointer-events: none;
}

.input-wrapper input {
  padding-left: 3rem;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.toggle-password:hover {
  opacity: 0.7;
}
